body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ede13f, #999520);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, p{
    margin: 0;
    color: rgb(255, 255, 255);
}

h1{
    font-size: 35px;
    overflow: auto;
    color: #3d393a;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  
    height: 100px; 
    margin: 0;
    background-color: #ffffff;
    border-bottom: 4px solid #3d3d39;
}

#exa-img{
    width: 80px;
    margin: 10px;
}

.navigator{
    margin-right: 50px;
    height: auto;
}

.index-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paint-container{
    width: auto;
    margin-top: 2%;
    background-color: #1b1b1b;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}